@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.BasketBallContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    align-content: flex-start;
    background-color: rgba(201, 179, 179, 0.373);
    min-height: 100vh;
    box-sizing: border-box;
}

.player_card {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 16px auto;
    text-align: center;
    background-color: rgb(250, 239, 239);
    overflow: hidden;
    transition: transform 0.2s;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
}

.player_card:hover {
    transform: scale(1.05);
}

.player_img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.player_name {
    font-size: 1.6em;
    margin: 0.5em 0;
    font-weight: 650;
}

.player_position {
    font-size: 1.2em;
    font-weight: 500;
}

.player_stats {
    padding: 0 1em 1em;
    font-weight: 400;
}

.player_stats p {
    margin: 0.5em 0;
}

@media (max-width: 600px) {
    .player_card {
        max-width: 90%;
    }

    .player_name {
        font-size: 1.2em;
    }

    .player_position {
        font-size: 1em;
    }
}
